html, body {
  margin: 0;
  padding: 0;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background-color: #fff;
  background: linear-gradient(#ddd, #fff);
  box-sizing: border-box;
  font-size: 16px;
  font-family: -apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
  font-weight: 400;
  line-height: 1.4em;
  min-height: 100vh;

  align-items: center;
  display: flex;
  justify-content: center;
}

h1 {
  font-weight: 300;
  font-size: 32px;
  letter-spacing: -2px;
  line-height: 1em;
  margin: 0 0 28px;
  text-transform: uppercase;
}

h2 {
  font-weight: 500;
  font-size: 24px;
  letter-spacing: -1px;
  line-height: 1em;
  margin: 16px 0;
}

h3 {
  font-weight: 500;
  font-size: 18px;
  letter-spacing: -1px;
  line-height: 1em;
  margin: 8px 0;
}

p {
  margin: 0 0 4px;
}

a {
  color: #009adc;
}
