.main {
  align-items: center;
  display: flex;
  min-height: 100vh;
  position: relative;
  z-index: 1;
}

.main__content {
  align-items: flex-start;
  display: flex;
  justify-content: center;
}

.main__illustration,
.main__content {
  box-sizing: border-box;
}

.main__illustration {
  display: none;
}

@media screen and (min-width: 600px) {
  .main__illustration {
    display: flex;
    flex-basis: 30%;
  }
}

@media screen and (min-width: 1000px) {
  .main__illustration {
    flex-basis: 50%;
  }
}

.main__info {
  align-items: flex-start;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 16px;
}

@media screen and (min-width: 600px) {
  .main__info {
    flex-basis: 70%;
    padding: 48px 32px 64px;
  }
}

@media screen and (min-width: 1000px) {
  .main__info {
    flex-basis: 50%;
  }
}

.main__who-is {
  font-size: 16px;
  letter-spacing: 0;
  line-height: 1em;
  text-transform: lowercase;
  vertical-align: text-top;
  white-space: nowrap;
}