.porthole {
  border-radius: 30%;
  display: none;
  height: 200px;
  overflow: hidden;
  width: 200px;
}

@media screen and (min-width: 600px) {
  .porthole {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .porthole {
    height: 300px;
    width: 300px;
  }
}
